<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<NUnit>
		<Extensions>
			<Add>Allure.NUnit.AllureNUnitExtension</Add>
		</Extensions>
	</NUnit>
	<AllureConfiguration>
		<Directory>allure-results</Directory>
	</AllureConfiguration>
	<Playwright>
		<BrowserName>chrome</BrowserName>
		<LaunchOptions>
			<Headless>false</Headless>
		</LaunchOptions>
	</Playwright>
  <RunConfiguration>
    <EnvironmentVariables>
	<TestSessionTimeout>120000</TestSessionTimeout>
      <PLAYWRIGHT_HTML_REPORT>playwright-report</PLAYWRIGHT_HTML_REPORT>
      <PLAYWRIGHT_JUNIT_OUTPUT_NAME>playwright-results.xml</PLAYWRIGHT_JUNIT_OUTPUT_NAME>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
